.item-name {
    height: 20px;
    color: black;
}

.item-calories {
    height: 20px;
    color: black;
    background-color: green
}

.delete-button{
    float: right ;
    padding-right: 20px;
}

.calories{
    padding-left: 40px;
}