.breakfast-item-container {
    height: 20px;
    color: black;
    background-color: red
}

.item-name {
    height: 20px;
    color: black;
    background-color: blue
}

.item-calories {
    height: 20px;
    color: black;
    background-color: green
}