.login-page{
    background-image: url("https://img.freepik.com/free-photo/elevated-view-fresh-raw-tagliatelle-pasta-with-tomato-garlic-black-pepper-white-plank_23-2148194997.jpg?w=2000");
    background-size: cover;
    height: 725px;
}

.login-page-container{
    margin-top: 190px;
    margin-left: 120px;
}