
/* no user */
.recipe-search-bar{
    display: flex;
    border-radius: 10px;
    height: 30px;
    width: 400px;
    border-color: green;
    border-width: 3px;
    outline: none; 
}

.recipe-search-container{
    width: 460px;
    margin-top: 15px;
    margin-left: 180px;
    color: green
}

.custom-navbar{
    background-color: rgba(133, 201, 133, 0.633);
    max-height: 90px;
    box-shadow: 1px 20px 20px rgba(44, 184, 49, .4); 
}

.recipe-search-bar{
    padding-left: 10px;
    text-align: center;
    color: green;
}

.search-no-user{
    text-align: left;
    width: 400px;
    margin-left: -260px;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 400px;
    border-color: green;
    border-width: 3px;
    outline: none;
    margin-bottom: 20px
}

.login-no-user{
    width: 150px; /* Adjust the width as needed */
    text-align: right; /* Right-align the contents */
    margin-right: 30px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 5px;
}

.about-no-user{
    width: 150px; /* Adjust the width as needed */
    text-align: right; /* Right-align the contents */
    margin-right: -210px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 5px;
}

.nav-no-user{
    display: flex;
    justify-content: space-between; /* Space evenly between items */
    align-items: center; /* Vertically center items */
    width: 800px;
}

/* with user */

.custom-user-search-bar{
    /* margin-top: 100px; */
    /* float: left; */
    /* display: flex; */
    border-radius: 10px;
    height: 30px;
    width: 400px;
    border-color: green;
    border-width: 3px;
    outline: none;
    align-content: center;
    margin-right: 200px;
    margin-bottom: 25px;
}

.nar-bar-user{
    display: flex; 
    align-items: center; 
    margin-left: auto; 
}

.nav-user {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.user-food-log-tab,
.user-recipe-tab,
.user-about-us,
.logout {
    list-style: none;
    margin: 0; 
    padding: 0; 
    font-weight: bold;
    margin-bottom: 10px;
    

}

.user-food-log-tab,
.user-recipe-tab,
.user-about-us {
    margin-left: 10px; 
    width: 120px;
    height: 30px;
}

.logout {
    width: 100px;
    height: 30px;
    margin-top: 13px; 
}

.logout-button{
    background-color: rgba(114, 200, 114, 0.765);
    border-radius: 10px;
    border-color: rgb(7, 106, 45);
}