.button{
    /* color: green;
    background-color: rgb(246, 249, 246);
    margin-left: 20px;
    margin-right: 20px; */

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgb(156, 225, 156) -2px -2px 0px 2px, rgb(6, 110, 25) 0px 0px 0px 4px, rgba(242, 238, 238, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    /* hover{
        box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01); */
}



.buttons-container{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */

}



