/* saved recipe page css*/

.saved-recipes-bg{
    background-color: rgba(244, 248, 243, 0.804);
    background-size: cover;
    height: 100vh;
}

.meal-button{
    margin-top: 60px;
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgb(156, 225, 156) -2px -2px 0px 2px, rgb(6, 110, 25) 0px 0px 0px 4px, rgba(235, 232, 232, 0.05) 0px 0px 2px 7px;
    background-color: rgba(240, 245, 246, 0.846);
    transition: all 0.2s;
    color: rgb(0, 0, 0);
}
.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.saved-recipes{
    padding-left: 40px;
    padding-top: 20px;
}