
.searh-page-background{
  height: 100%;
}

.search-bg-image{
  background-image: 
  url("https://img1.wsimg.com/isteam/stock/3781/:/rs=h:1000,cg:true,m");
  background-size: cover;
  height: 100vh;
  transition: height 0.3s ease;
}

.search-container {
  max-height: 400px; 
  overflow-y: auto;
}


.search-bar {
  width: 60%;
  padding: 10px;
  margin-top: 13px;
  margin-left: 10px;
  font-size: 16px;
  border: 4px solid #75c12a;
  border-radius: 30px;
  outline: none;
  background-color: #c8f1c692;
} 

.search-list-container-map{
  margin-top: 20px;
  max-height: 600px; 
  overflow-y: auto; 
  width: 1300px;
}

.search-title {
  font-size: 24px; 
  text-align: center;
  border-radius: 20px;
  font-family: Monospace;
  padding-top: 20px;
  margin-top: 20px;
}

  .list-group {
    max-width: 50%; 
  }
  
  .list-group-item {
    text-align: center;
  }


  .please-work{
    justify-content: center;
    align-self: center;
  }

  .the-searched-items{
    margin-left: 420px;  
    width: 90%;
    background-color: rgba(97, 164, 112, 0.611);
    opacity: 1;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid #0e6b1b93;
  }
  .food-calories{
    font-weight: bold;
    font-size: 17px;
  }
  .search-list{
    justify-content: center;
    margin-top: 10px;
  }



