
/* .food-search-container 
  text-align: center;  Centers the text within the container 
  background-color: #f0f0f0;  Add your desired background color 
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(67, 178, 93, 0.5);
  margin: 100px;
  height: 50px;
} */
.searh-page-background{
  height: 100%;
}


.search-title {
  font-size: 24px; /* Adjust the font size as needed */
  text-align: center;
  border-radius: 20px;
  font-family: Monospace;
  padding-top: 7px;
  margin-top: 20px;
}
.search-page{
  background-color: rgba(67, 178, 93, 0.5);
  height: 100%;
  width:  100%;
  background-image: url("https://img.freepik.com/premium-photo/fresh-vegetables-ingredients-fruits-arranged-white-wooden-table_23-2148026883.jpg?w=1800");
  /* margin-left: 430px;
  border-radius: 10px; */
  /* justify-content: center; */
}
.search-bar {
  width: 80%;
  padding: 10px;
  margin-top: 13px;
  margin-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  /* Add any other styles you want for the search bar */
} 

.search-page{
  background-color: rgba(67, 178, 93, 0.5);
  height: 100vh;
  height: 100%;
  width:  100%;
  margin-top: -10px;
  background-image: url("https://img.freepik.com/premium-photo/fresh-vegetables-ingredients-fruits-arranged-white-wooden-table_23-2148026883.jpg?w=1800");
  align-items: center; /* Center items vertically */ 
  }
  
  .list-group {
    max-width: 50%; /* Set a maximum width for the list */
  }
  
  .list-group-item {
    text-align: center; /* Center text within list items */
  }


  .please-work{
    justify-content: center;
    align-self: center;
  }

  .the-searched-items{

    margin-left: 420px;  
    width: 90%;
    background-color: rgba(97, 164, 112, 0.611);
    opacity: 1;
    transition: 0.3s;
  
  }

    .search-list{
    justify-content: center;
    margin-top: 10px;
  }

  .progress-bar{
    width: 2000px;
  }

  .search-container {
    max-height: 400px; /* Adjust the max-height to your preference */
    overflow-y: auto;
  }




  .Tdee-display{
    font-family: "Gill Sans", sans-serif;
    color:green;
    width: 530px;
    /* display: flex; */
    float: right;
    padding-right: 50px;
  }

.calories-eaten-display{
  font-family: "Gill Sans", sans-serif;
  color:green;
  width: 600px;
  display: flex;
  padding-left: 360px;
  /* float: right */

}

.food-calories{
  font-weight: 500;
}