.bg-img {
    background-image: url("https://img.freepik.com/free-photo/top-view-vegetables-mix-chicken-drumstick-bowl-with-blank-notebook_23-2148369709.jpg");
    height: 697px; /* Set the height to 100% of the viewport height */
    width: 100%;
    background-size: cover;
}

/* .welcome-page-container{
    max-width: 40%;
    height: 400px;
    margin-left: 900px;
    background-color: #bceac73e;
    border-radius: 20px;
    
} */

.welcome-box{
    position: absolute;
    max-width: 35%;
    height: 450px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 35vh; /* Center vertically */
    background-color: rgba(245, 180, 82, 0.482);
    border-radius: 20px;
}

.welcome-page-text{
    text-align: center;
}

.title{
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #237837;
    transform: scale(1.2);
}

.header{
    padding-top: 38px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 30px;

}
.text-body{
    text-align: center;
    font-weight: 100
}


.get-started{
    text-align: center;
    padding-top: 40px;
    padding-right: 50px;

}
    
.button{
    border: green;
    
}